#div01 {
	padding: 0.3em;
	background-color: #227EB5;
	font-size: 0.75em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	width: 85%;
	position: fixed;
	clear: both;
	height: 13px;
}
#div02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.625em;
	color: #227EB5;
	background-color: #FFFFFF;
	padding: 0.6em;
	float: right;
	width: 200px;
	border: 1px solid #227EB5;
	text-align: right;
	position: relative;
	clear: both;
	height: 13px;
}
.div002{
    display:none;
}
#div03 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 100%;
	padding: 0.5em;
	position: relative;
	clear: both;
}
.div04 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 84%;
	padding: 0.3em;
	float: left;
	position: absolute;
	left: 160px;
	top: 2px;
}

.div05 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 84%;
	padding: 0.3em;
	float: left;
	position: absolute;
	top: 2px;
}
.input01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #315B7D;
	height: 20px;
	border: 1px solid #315B7D;
	background-color: #9DD0FF;
	width: 120px;
}
.td01 {
	padding: 0.3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #315B7D;
	border-bottom-color: #315B7D;
	border-left-color: #315B7D;
}
.td02 {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #315B7D;
	border-left-color: #315B7D;
	padding: 0.3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.td01b {
	padding: 0.3em;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #9DD0FF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #315B7D;
	border-bottom-color: #315B7D;
	border-left-color: #315B7D;
}
.td02b {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #315B7D;
	padding: 0.3em;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #9DD0FF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #315B7D;
}
.td01r {
	padding: 0.3em;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 1px solid #315B7D;
}
.td02r {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #315B7D;
	border-left-color: #315B7D;
	padding: 0.3em;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #315B7D;
}
#navcontainer { /* none needed */ }

ul#navlist
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}

ul#navlist li
{
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0.3em;
    background-color: #eef4f1;
    border-top: 1px solid #e0ede9;
    border-bottom: 1px solid #e0ede9;
}

#navlist a, #navlist a:link
{
	margin: 0;
	color: #315B7D;
	border-right: 1px dashed #d1e3db;
	text-decoration: none;
	font-weight: normal;
	padding: 0.3em;
}

ul#navlist li#active
{
	color: #315B7D;
	background-color: #deebe5;
	padding: 0.3em;
}

#navlist a:hover
{
	color: #CC0033;
	background-color: #CCCCCC;
	font-weight: normal;
	padding: 0.3em;
}
.menu00
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: dashed;
	border-top-color: #d1e3db;
	border-bottom-color: #d1e3db;
	border-left-color: #d1e3db;
}
.menu01
{
	font-size: 10pt;
	margin: 0;
	background-color: #eef4f1;
	color: #315B7D;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 0em;
	padding-left: 0.5em;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #d1e3db;
}
.menu011
{
	font-size: 10pt;
	margin: 0;
	background-color: #eef4f1;
	color:  #999999;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 0em;
	padding-left: 0.5em;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #d1e3db;
}
.menu02{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	background-color: #CCCCCC;
	color: #CC0033;
	font-weight: normal;
	text-align: center;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 0em;
	padding-left: 0.5em;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #d1e3db;
}
.menu03{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	background-color: #deebe5;
	border-top: 1px solid #d1e3db;
	border-bottom: 1px solid #d1e3db;
	color: #315B7D;
	font-weight: normal;
	text-align: center;
	border-right: 1px dashed #d1e3db;
	padding-top: 0.3em;
	padding-right: 0.5em;
	padding-bottom: 0em;
	padding-left: 0.5em;
}
.menu04{
	cursor:hand;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	background-color: #E5E8EB;
	color: #315B7D;
	font-weight: normal;
	padding: 0.3em;
}
.menu05{
	cursor:hand;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0.3em;
	background-color: #eef4f1;
	color: #BEA775;
	font-weight: normal;
}
.menu06{
    cursor:hand;
    border:1px solid #d1e3db;
}
.font01{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0.3em;
	color: #315B7D;
	font-weight: normal;
}
a:link {
	color: #227EB5;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #227EB5;
}
a:hover {
	text-decoration: none;
	color: #FF6600;
}
a:active {
	text-decoration: none;
	color: #999999;
}
